<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
            <h3 class="header center grey-text text-darken-1">Fale com a gente</h3>    
        </div>
        <div class="row">
                <div class="col s12 m12 input-field">
                    <input id="nome" ng-model="item.nome" type="text" class="validate">
                    <label for="nome">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE7FD;</i>
                        Nome
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input id="email" ng-model="item.email" type="text" class="validate">
                    <label for="email">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE0BE;</i>                    
                        E-mail
                    </label>
                </div>
                <div class="col s12 m6 input-field">
                    <input id="telefone" ng-model="item.telefone" type="text" class="validate">
                    <label for="telefone">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE0CD;</i>
                        Telefone
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 input-field">
                    <input id="assunto" ng-model="item.assunto" type="text" class="validate">
                    <label for="assunto">Assunto</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 input-field">
                    <textarea id="mensagem" ng-model="item.mensagem" class="materialize-textarea"></textarea>
                    <label for="mensagem">Mensagem</label>
                </div>
            </div>
            <div class="row center" style="margin-bottom:0px; padding-bottom:50px">
                <button class="btn-large waves-effect waves-light brown darken-2" ng-click="salvarContato(item)">Enviar</button> 
            </div>
    </div>
</div>