<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="row center">
            <h4 class="header center grey-text text-lighten-3 uppercase">Web</h4>
            <div class="divider pb-50x"></div>
        </div>
        <div class="row">
            <div  class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">&#xE86F;</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Sistemas personalizados</h5>
                    <p class="light center flow-text"> Sistema planejado e desenvolvido de acordo com sua necessidade, oferecendo maior usabilidade. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('sistemasPersonalizados')">
                    <i class="material-icons icon-parallax fa-3x">&#xE86F;</i> 
                </div>
            </div>
            <div class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">&#xE8CC;</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Vitrines virtuais</h5>
                    <p class="light center flow-text"> Seu produto ou serviço visível na web, de forma segura e de fácil acesso o tempo todo. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('vitrinesVirtuais')">
                    <i class="material-icons icon-parallax fa-3x">&#xE8CC;</i>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">devices_other</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Design Responsivo</h5>
                    <p class="light center flow-text"> O layout adapta o conteúdo a diferentes tipos de dispositivos e telas, proporcinando uma visualização mais confortável. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('designResponsivo')">
                    <i class="material-icons icon-parallax fa-3x">devices_other</i>  
                </div>
            </div>
        </div>
        <div class="row center hide-on-large-only">
            <h5 class="center white-text uppercase flow-text">{{titulo}}</h5>
            <p class="light center flow-text">{{mensagem}}</p>
        </div>
    </div>
    <div class="parallax"> 
        <img src="../../img/banner-topo-6.jpg" alt="Unsplashed background img 1"> 
        <div class="overlay"></div>
    </div>
    
</div>
<div class="container">
    <div class="section no-pad-bot">
        <div class="row center">
            <h4 class="header center brown-text text-darken-2 uppercase">Trabalhos</h4>
            <div class="divider pb-50x"></div>
        </div>
        <div class="row center">
            <div class="col s12 m12">
                <p class="light center flow-text"> 
                    Veja aqui uma seleção do nosso trabalho feito recentemente
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="row center">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li style="box-shadow:none;" ng-click="onTrabalhosRecentes = !onTrabalhosRecentes">
                <div class="collapsible-header" style="cursor:default; border-bottom:none;">
                    <button class="waves-effect waves-ripple btn-flat" onclick="Materialize.fadeInImage('#collapsible-body')">
                        <i class="material-icons fa-3x" ng-show="!onTrabalhosRecentes">&#xE5CF;</i>
                        <i class="material-icons fa-3x" ng-show="onTrabalhosRecentes">&#xE5CE;</i>
                    </button>
                </div>
                <div class="collapsible-body" id="collapsible-body">
                    <div class="section no-pad-bot">
                        <div class="row">
                            <div class="col m4 s12">
                                <div class="row center"> 
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div>  
                            <div class="col m4 s12">
                                <div class="row center">
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div> 
                            <div class="col m4 s12">
                                <div class="row center">
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </li>    
        </ul>
    </div>
</div>
<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="row center">
            <h4 class="header center grey-text text-lighten-3">Design</h4>
            <div class="divider pb-50x"></div>
        </div>  
        <div class="row">
            <div  class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">&#xE86F;</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Sistemas personalizados</h5>
                    <p class="light center flow-text"> Sistema planejado e desenvolvido de acordo com sua necessidade, oferecendo maior usabilidade. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('sistemasPersonalizados')">
                    <i class="material-icons icon-parallax fa-3x">&#xE86F;</i> 
                </div>
            </div>
            <div class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">&#xE8CC;</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Vitrines virtuais</h5>
                    <p class="light center flow-text"> Seu produto ou serviço visível na web, de forma segura e de fácil acesso o tempo todo. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('vitrinesVirtuais')">
                    <i class="material-icons icon-parallax fa-3x">&#xE8CC;</i>
                </div>
            </div>
            <div class="col s4 m4">
                <div class="hide-on-med-and-down">
                    <div class="center brown-text text-darken-2">
                        <i class="material-icons icon-parallax fa-3x">devices_other</i>
                    </div>
                    <h5 class="center white-text uppercase flow-text">Design Responsivo</h5>
                    <p class="light center flow-text"> O layout adapta o conteúdo a diferentes tipos de dispositivos e telas, proporcinando uma visualização mais confortável. </p>
                </div>
                <div class="hide-on-large-only center brown-text text-darken-2" ng-click="mostrarTituloMensagem('designResponsivo')">
                    <i class="material-icons icon-parallax fa-3x">devices_other</i>  
                </div>
            </div>
        </div>
        <div class="row center hide-on-large-only">
            <h5 class="center white-text uppercase flow-text">{{titulo}}</h5>
            <p class="light center flow-text">{{mensagem}}</p>
        </div>
    </div>
    <div class="parallax"> 
        <img src="../../img/Redimensiona.jpg" alt="Unsplashed background img 3"> 
        <div class="overlay"></div>
    </div>
</div>
<div class="container">
    <div class="section no-pad-bot">
        <div class="row center">
            <h4 class="header center brown-text text-darken-2 uppercase">Criação</h4>
            <div class="divider pb-50x"></div>
        </div>
        <div class="row center">
            <div class="col m12 s12">
                <p class="light center flow-text"> 
                    Veja aqui uma seleção da nossa criação feita recentemente
                </p>
            </div>
            
        </div>
    </div>
</div>
<div class="section">
    <div class="row center">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li style="box-shadow:none;" ng-click="onCriacaoRecente = !onCriacaoRecente">
                <div class="collapsible-header" style="cursor:default; border-bottom:none;">
                    <button class="waves-effect waves-ripple btn-flat" onclick="Materialize.fadeInImage('#collapsible-body')">
                        <i class="material-icons fa-3x" ng-show="!onCriacaoRecente">&#xE5CF;</i>
                        <i class="material-icons fa-3x" ng-show="onCriacaoRecente">&#xE5CE;</i>
                    </button>
                </div>
                <div class="collapsible-body" id="collapsible-body">
                    <div class="section no-pad-bot">
                        <div class="row">
                            <div class="col m4 s12">
                                <div class="row center"> 
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div>  
                            <div class="col m4 s12">
                                <div class="row center">
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div> 
                            <div class="col m4 s12">
                                <div class="row center">
                                    <img class="responsive-img" src="../../img/teste-trabalhos-criacao.jpg">
                                    <span class="light flow-text"> 
                                        Veja aqui uma seleção da nossa criação recente
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </li>    
        </ul>
    </div>
</div>
