<div class="section no-pad-bot brown darken-2 grey-text text-lighten-3 z-depth-1-half">
        <div class="row">
            <div class="col s12 m12"> 
                <h3 class="header center">Processo de criação</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 icon-block center">
                <div class="row">
                    <div class="col s12 m10">
                        <i class="material-icons fa-3x">&#xE8CD;</i></i>
                        <h5>Briefing</h5>
                        <p class="light justify">
                            Este é o começo, aqui sentamos com o cliente e entendemos suas necessidades e objetivos.
                        </p>
                    </div>
                    <div class="col m1 hide-on-small-only">
                        <i class="fa fa-chevron-right" aria-hidden="true" style="vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 icon-block center">
                <div class="row">
                    <div class="col s12 m10">
                        <i class="material-icons fa-3x">&#xE90F;</i></i>
                        <h5>Criação</h5>
                        <p class="light justify">
                            Com o briefing em mãos, nossa equipe se reúne para traçar a estratégia, criar o melhor design e elaborar as melhores funcionalidades.
                        </p>
                    </div>
                    <div class="col m1 hide-on-small-only">
                        <i class="fa fa-chevron-right" aria-hidden="true" style="vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 icon-block center">
                <div class="row">
                    <div class="col s12 m10">
                        <i class="material-icons fa-3x">&#xE30A;</i></i>
                        <h5>Desenvolvimento</h5>
                        <p class="light justify">
                            Aprovada a criação, nossa equipe inicia os trabalhos, aplicando na prática todo o planejamento
                        </p>
                    </div>
                    <div class="col m1 hide-on-small-only">
                        <i class="fa fa-chevron-right" aria-hidden="true" style="vertical-align: -webkit-baseline-middle;"></i>
                    </div>
                </div>
            </div>
            <div class="col s12 m3 icon-block center">
                <i class="material-icons fa-3x">&#xE52D;</i>
                <h5>Entrega do projeto</h5>
                <p class="light justify">
                    Após o término do desenvolvimento, homologamos com o cliente tudo que foi desenvolvido
                    e entregamos o projeto.
                </p> 
            </div>
        </div>
</div>

<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
            <h3 class="header center grey-text text-darken-1">O que fazemos</h3>    
        </div>
    </div>
</div>

<div class="section no-pad-bot">
    <div class="container">
        <div class="timeline">
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../img/servicos-websites.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-text">Websites<i class="material-icons right">more_vert</i></span>
                        <p class="flow-text">Websites construidos por nós <a href="#">Clique aqui</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 flow-text">Websites<i class="material-icons right">close</i></span>
                        <p class="flow-text">Sites modernos, planejados, responsivos e usuais. Mostrando para todos sua empresa, produtos e serviços prestados.</p>
                    </div>
                </div>
                <div class="timeline-badge teal white-text">
                    <i class="material-icons">&#xE894;</i>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../img/servicos-vitrinesvirtuais.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-text">Vitrines virtuais<i class="material-icons right">more_vert</i></span>
                        <p class="flow-text">Vitrines virtuais construidas por nós <a href="#">Clique aqui</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 flow-text">Vitrines virtuais<i class="material-icons right">close</i></span>
                        <p class="flow-text">Apresente seu produto ou serviço para milhares de pessoas o tempo todo no mundo virtual.</p>
                    </div>
                </div>
                <div class="timeline-badge light-blue white-text">
                    <i class="material-icons">&#xE8CC;</i>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../img/servicos-sistemaspersonalizados.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-text">Sistemas personalizados<i class="material-icons right">more_vert</i></span>
                        <p class="flow-text">Sistemas personalizados construidos por nós <a href="#">Clique aqui</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 flow-text">Sistemas personalizados<i class="material-icons right">close</i></span>
                        <p class="flow-text">Tem a necessidade de um sistema específico para seu negócio ou uso pessoal?
                            Desenvolvemos sistemas na medida que você precisa com a solução que você procura.</p>
                    </div>
                </div>
                <div class="timeline-badge orange darken-2 white-text">
                    <i class="material-icons">&#xE86F;</i>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../img/servicos-identidadevisual.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-text">Identidade visual<i class="material-icons right">more_vert</i></span>
                        <p class="flow-text">Identidade visual feita por nós <a href="#">Clique aqui</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 flow-text">Identidade visual<i class="material-icons right">close</i></span>
                        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="timeline-badge blue darken-3 white-text">
                    <i class="material-icons">&#xE8A7;</i>
                </div>
            </div>
            <div class="timeline-event">
                <div class="card timeline-content">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../img/servicos-emailmarketing.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-text">E-mail marketing<i class="material-icons right">more_vert</i></span>
                        <p class="flow-text">E-mail marketing feito por nós <a href="#">Clique aqui</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 flow-text">E-mail marketing<i class="material-icons right">close</i></span>
                        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="timeline-badge orange darken-4 white-text">
                    <i class="material-icons">&#xE0BE;</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section no-pad-bot grey lighten-3 z-depth-1-half">
    <div class="row center">
        <h3 class="header center grey-text text-darken-1">Fale com a gente</h3>    
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="icon-block">
                <h5 class="center grey-text text-darken-1">
                    Ficou com alguma dúvida? Entre em contato conosco através do formulário abaixo ou pelos nossos contatos no
                    rodapé desta página, que em breve falaremos com você.
                </h5>
                
            </div>
        </div>            
    </div>
    <div class="container">
            <div class="row">
                <div class="col s12 m12 input-field">
                    <input id="nome" ng-model="item.nome" type="text" class="validate">
                    <label for="nome">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE7FD;</i>
                        Nome
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 input-field">
                    <input id="email" ng-model="item.email" type="text" class="validate">
                    <label for="email">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE0BE;</i>                    
                        E-mail
                    </label>
                </div>
                <div class="col s12 m6 input-field">
                    <input id="telefone" ng-model="item.telefone" type="text" class="validate">
                    <label for="telefone">
                        <i class="material-icons" style="vertical-align: bottom;">&#xE0CD;</i>
                        Telefone
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 input-field">
                    <input id="assunto" ng-model="item.assunto" type="text" class="validate">
                    <label for="assunto">Assunto</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 input-field">
                    <textarea id="mensagem" ng-model="item.mensagem" class="materialize-textarea"></textarea>
                    <label for="mensagem">Mensagem</label>
                </div>
            </div>
            <div class="row center" style="margin-bottom:0px; padding-bottom:50px">
                <button class="btn-large waves-effect waves-light brown darken-2" ng-click="salvarContato(item)">Enviar</button> 
            </div>
    </div>
</div>
    